<%= form_with(model: repair, local: true) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete, id: :repair_complete %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :repair_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :repair_user_id %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved, id: :repair_approved %>
  </div>

  <div class="field">
    <%= form.label :starts_at %>
    <%= form.datetime_select :starts_at, id: :repair_starts_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
