<!DOCTYPE html>
<html>
  <head>
    <title>ReactAcademy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_pack_tag 'admin_react' %>
    <%= javascript_pack_tag 'user_react' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= javascript_pack_tag 'login_react' %>
    <div id='content' />
    <%= yield %>
  </body>
</html>
